<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>后台管理</title>
<link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>
	<div id="header">
			<img th:href="@{/book/index}" class="logo_img" alt="图片无法加载" th:src="@{/static/img/logo.gif}" >
			<span class="wel_word">后台管理系统</span>
			<div>
				<a th:href="@{/book/bookmanager}">图书管理</a>
				<a th:href="@{/order/managerAllOrder}">订单管理</a>
				<a th:href="@{/book/index}">返回商城</a>
			</div>
	</div>
	<div id="main">
		<h1>欢迎管理员进入后台管理系统</h1>
	</div>

	<div id="bottom">
		<span>
			红杏书城.Copyright &copy;2022
		</span>
	</div>
</body>
</html>
